---
name: Build & Test Flatpak (PR)
on:
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:freedesktop-25.08
      options: --privileged
 
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Flatpak
        uses: flatpak/flatpak-github-actions/flatpak-builder@v6
        with:
          manifest-path: com.Ledger.LedgerWallet.yml
          bundle: Ledger-Wallet.flatpak
          cache-key: flatpak-builder-${{ github.sha }}

      - name: Install RobotFramework
        run: |
          pip install robotframework
          pip install robotframework-flatpak

      - name: Run Robot tests
        run: robot tests/